<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        Syntellicore - Privacy
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- inject:css -->
    <!-- endinject -->
    <script type="text/javascript">
        var appInsights = window.appInsights || function (a) {
            function b(a) { c[a] = function () { var b = arguments; c.queue.push(function () { c[a].apply(c, b) }) } } var c = { config: a }, d = document, e = window; setTimeout(function () { var b = d.createElement("script"); b.src = a.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", d.getElementsByTagName("script")[0].parentNode.appendChild(b) }); try { c.cookie = d.cookie } catch (a) { } c.queue = []; for (var f = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; f.length;)b("track" + f.pop()); if (b("setAuthenticatedUserContext"), b("clearAuthenticatedUserContext"), b("startTrackEvent"), b("stopTrackEvent"), b("startTrackPage"), b("stopTrackPage"), b("flush"), !a.disableExceptionTracking) { f = "onerror", b("_" + f); var g = e[f]; e[f] = function (a, b, d, e, h) { var i = g && g(a, b, d, e, h); return !0 !== i && c["_" + f](a, b, d, e, h), i } } return c
        }({
            instrumentationKey: "{{APPINSIGHTS_INSTRUMENTATIONKEY}}"
        });

        window.appInsights = appInsights, appInsights.queue && 0 === appInsights.queue.length && appInsights.trackPageView();
    </script>
</head>

<body>
    <header class="l-header">
        <div class="logo">
            <img src="https://static2.sharepointonline.com/files/fabric/assets/brand-icons/product-fluent/svg/teams_48x1.svg"
                class="logo">
        </div>
        <div class="l-title">
            <h1>SyntellicoreTeams Privacy</h1>
        </div>
    </header>
    <article class="l-article">
        <p>
            Add your privacy statement here...
        </p>
    </article>
</body>

</html>